In [48]:
import pandas as pd

In [49]:
ping=pd.read_csv("game.csv")

In [50]:
ping

         x     y  vx  vy  Paddle.y
0     1170   290 -10 -10       196
1     1160   280 -10 -10       196
2     1150   270 -10 -10       196
3     1140   260 -10 -10       196
4     1130   250 -10 -10       196
...    ...   ...  ..  ..       ...
1634    30  1570  10  10         2
1635    40  1580 -10  10         2
1636    30  1590  10  10         2
1637    40  1600 -10  10         2
1638    30  1610  10  10         2

[1639 rows x 5 columns]

In [51]:
ping.describe()

                 x            y           vx           vy     Paddle.y
count  1639.000000  1639.000000  1639.000000  1639.000000  1639.000000
mean    554.569860   348.627212    -0.689445     0.811470   265.618670
std     355.840225   254.299309     9.979250     9.970063    92.965532
min      30.000000    40.000000   -10.000000   -10.000000     2.000000
25%     230.000000   180.000000   -10.000000   -10.000000   219.500000
50%     550.000000   310.000000   -10.000000    10.000000   264.000000
75%     860.000000   455.000000    10.000000    10.000000   326.000000
max    1180.000000  1610.000000    10.000000    10.000000   491.000000

In [52]:
ping=ping.drop_duplicates()

In [53]:
ping

         x     y  vx  vy  Paddle.y
0     1170   290 -10 -10       196
1     1160   280 -10 -10       196
2     1150   270 -10 -10       196
3     1140   260 -10 -10       196
4     1130   250 -10 -10       196
...    ...   ...  ..  ..       ...
1634    30  1570  10  10         2
1635    40  1580 -10  10         2
1636    30  1590  10  10         2
1637    40  1600 -10  10         2
1638    30  1610  10  10         2

[1639 rows x 5 columns]

In [65]:
from sklearn.neighbors import KNeighborsRegressor

In [67]:
regressor=KNeighborsRegressor(n_neighbors=3)

In [68]:
X=ping.drop(columns="Paddle.y")

In [69]:
Y=ping["Paddle.y"]

In [70]:
model=regressor.fit(X,Y)

In [71]:
model

KNeighborsRegressor(n_neighbors=3)

In [72]:
print(model)

KNeighborsRegressor(n_neighbors=3)

In [73]:
X

         x     y  vx  vy
0     1170   290 -10 -10
1     1160   280 -10 -10
2     1150   270 -10 -10
3     1140   260 -10 -10
4     1130   250 -10 -10
...    ...   ...  ..  ..
1634    30  1570  10  10
1635    40  1580 -10  10
1636    30  1590  10  10
1637    40  1600 -10  10
1638    30  1610  10  10

[1639 rows x 4 columns]

In [74]:
print(prediction)

[234.0964925  234.36851627 234.64054003 234.9125638  235.18458756
 235.45661133 235.7286351  236.00065886 236.27268263 236.54470639
 236.81673016 237.08875392 237.36077769 237.63280146 237.90482522
 238.17684899 238.44887275 238.72089652 238.99292028 239.26494405
 239.53696782 239.80899158 240.08101535 240.35303911 240.62506288
 215.24836916 217.81753804 220.38670693 222.95587581 225.5250447
 228.09421358 230.66338247 233.23255135 235.80172024 238.37088912
 240.94005801 243.50922689 246.07839578 248.64756466 251.21673355
 253.78590243 256.35507132 258.9242402  261.49340909 264.06257797
 266.63174686 269.20091574 271.77008463 274.33925351 276.9084224
 279.47759128 282.04676017 284.61592905 287.18509794 289.75426682
 292.32343571 294.89260459 297.46177347 300.03094236 302.60011124
 305.16928013 307.73844901 310.3076179  312.87678678 315.44595567
 318.01512455 320.58429344 323.15346232 325.72263121 328.29180009
 330.86096898 333.43013786 335.99930675 338.56847563 341.13764452
 343.7068134  346.27598229 374.49386866 374.76589243 375.03791619
 375.30993996 375.58196373 375.85398749 376.12601126 376.39803502
 376.67005879 376.94208255 377.21410632 377.48613009 377.75815385
 378.03017762 378.30220138 378.57422515 378.84624891 379.11827268
 379.39029645 379.66232021 379.93434398 380.20636774 380.47839151
 380.75041527 381.02243904 381.29446281 381.56648657 381.83851034
 382.1105341  382.38255787 382.65458163 382.9266054  383.19862917
 383.47065293 383.7426767  384.01470046 356.03628054 353.46711166
 350.89794277 348.32877389 345.759605   343.19043612 340.62126723
 338.05209835 335.48292946 332.91376058 330.34459169 327.77542281
 325.20625392 322.63708504 320.06791615 317.49874727 289.28086089
 289.00883713 288.73681336 288.4647896  288.19276583 287.92074207
 287.6487183  287.37669453 287.10467077 286.832647   286.56062324
 286.28859947 286.01657571 285.74455194 285.47252817 285.20050441
 284.92848064 284.65645688 284.38443311 284.11240935 283.84038558
 283.56836181 283.29633805 283.02431428 282.75229052 282.48026675
 282.20824299 281.93621922 281.66419545 281.39217169 281.12014792
 280.84812416 280.57610039 280.30407663 280.03205286 279.76002909
 279.48800533 279.21598156 278.9439578  278.67193403 278.39991027
 278.1278865  277.85586273 277.58383897 277.3118152  277.03979144
 276.76776767 276.49574391 276.22372014 275.95169637 275.67967261
 275.40764884 300.78434257 298.21517368 295.6460048  293.07683591
 290.50766703 287.93849814 285.36932926 282.80016037 280.23099149
 277.6618226  275.09265372 272.52348483 269.95431595 267.38514706
 264.81597818 262.24680929 259.67764041 257.10847152 254.53930264
 251.97013375 249.40096487 246.83179598 244.2626271  241.69345821
 239.12428933 236.55512044 233.98595156 231.41678267 228.84761379
 226.2784449  223.70927602 221.14010713 218.57093825 216.00176936
 213.43260048 210.86343159 208.29426271 205.72509382 203.15592494
 200.58675605 198.01758717 195.44841828 192.8792494  190.31008051
 187.74091163 185.17174274 210.85301754 211.12504131 211.39706507
 211.66908884 211.94111261 212.21313637 186.83644265 189.40561153
 191.97478042 194.5439493  197.11311819 199.68228707 202.25145596
 204.82062484 207.38979373 209.95896261 212.5281315  215.09730038
 217.66646927 220.23563815 222.80480704 225.37397592 227.94314481
 230.51231369 233.08148258 235.65065146 238.21982035 240.78898923
 243.35815812 245.927327   248.49649589 251.06566477 253.63483366
 256.20400254 258.77317143 261.34234031 263.9115092  266.48067808
 269.04984697 271.61901585 274.18818474 276.75735362 279.32652251
 281.89569139 284.46486028 287.03402916 289.60319805 292.17236693
 294.74153582 297.3107047  299.87987359 302.44904247 305.01821136
 307.58738024 310.15654913 312.72571801 315.2948869  317.86405578
 346.08194216 346.35396592 346.62598969 346.89801345 347.17003722
 347.44206098 347.71408475 347.98610852 348.25813228 348.53015605
 348.80217981 349.07420358 349.34622734 349.61825111 349.89027488
 350.16229864 350.43432241 350.70634617 350.97836994 351.2503937
 351.52241747 351.79444124 352.066465   352.33848877 352.61051253
 352.8825363  353.15456006 353.42658383 353.6986076  353.97063136
 354.24265513 354.51467889 354.78670266 355.05872642 355.33075019
 355.60277396 355.87479772 356.14682149 356.41884525 356.69086902
 356.96289278 357.23491655 357.50694032 357.77896408 358.05098785
 358.32301161 358.59503538 358.86705914 359.13908291 359.41110668
 359.68313044 359.95515421 334.57846048 337.14762937 339.71679825
 342.28596714 316.60469234 316.33266857 316.06064481 315.78862104
 315.51659728 315.24457351 314.97254974 314.70052598 314.42850221
 314.15647845 313.88445468 313.61243092 313.34040715 313.06838338
 312.79635962 312.52433585 312.25231209 311.98028832 311.70826456
 311.43624079 311.16421702 310.89219326 310.62016949 310.34814573
 310.07612196 309.8040982  309.53207443 309.26005066 308.9880269
 308.71600313 308.44397937 308.1719556  307.89993184 307.62790807
 307.3558843  307.08386054 306.81183677 306.53981301 306.26778924
 305.99576548 305.72374171 305.45171794 305.17969418 304.90767041
 304.63564665 304.36362288 304.09159912 303.81957535 329.19626907
 326.62710019 324.0579313  321.48876242 318.91959353 316.35042465
 313.78125576 311.21208688 308.64291799 306.07374911 303.50458022
 300.93541134 298.36624245 295.79707357 293.22790468 290.6587358
 288.08956691 285.52039803 282.95122914 280.38206026 277.81289137
 275.24372249 272.6745536  270.10538472 267.53621583 264.96704695
 262.39787806 259.82870918 257.25954029 254.69037141 252.12120252
 249.55203364 246.98286475 244.41369587 241.84452698 239.2753581
 236.70618921 234.13702033 231.56785144 228.99868256 226.42951367
 223.86034479 221.2911759  218.72200702 216.15283813 213.58366925
 211.01450036 208.44533148 205.87616259 203.30699371 200.73782482
 198.16865594 169.95076957 169.6787458  169.40672203 169.13469827
 168.8626745  168.59065074 168.31862697 168.04660321 167.77457944
 167.50255567 167.23053191 166.95850814 166.68648438 166.41446061
 194.39288053 196.96204942 199.5312183  202.10038719 204.66955607
 207.23872496 209.80789384 212.37706273 214.94623161 217.5154005
 220.08456938 222.65373827 225.22290715 227.79207604 230.36124492
 232.93041381 235.49958269 238.06875158 240.63792046 243.20708935
 245.77625823 248.34542712 250.914596   253.48376489 256.05293377
 258.62210266 261.19127154 263.76044043 266.32960931 268.8987782
 271.46794708 274.03711597 276.60628485 279.17545374 281.74462262
 284.31379151 286.88296039 289.45212928 317.67001565 317.94203941
 318.21406318 318.48608695 318.75811071 319.03013448 319.30215824
 319.57418201 319.84620577 320.11822954 320.39025331 320.66227707
 320.93430084 321.2063246  321.47834837 321.75037213 322.0223959
 322.29441967 322.56644343 322.8384672  323.11049096 323.38251473
 323.65453849 323.92656226 324.19858603 324.47060979 324.74263356
 325.01465732 325.28668109 325.55870485 325.83072862 326.10275239
 326.37477615 326.64679992 326.91882368 327.19084745 327.46287121
 327.73489498 328.00691875 328.27894251 328.55096628 328.82299004
 329.09501381 329.36703757 329.63906134 329.91108511 330.18310887
 330.45513264 330.7271564  330.99918017 331.27120394 331.5432277
 306.16653398 308.73570286 311.30487175 313.87404063 316.44320952
 319.0123784  321.58154729 324.15071617 326.71988506 329.28905394
 331.85822283 334.42739171 336.9965606  339.56572948 342.13489837
 344.70406725 347.27323614 349.84240502 352.41157391 354.98074279
 357.54991168 360.11908056 362.68824945 365.25741833 339.57614353
 339.30411976 339.032096   338.76007223 338.48804847 338.2160247
 337.94400094 337.67197717 337.3999534  337.12792964 336.85590587
 336.58388211 336.31185834 336.03983458 335.76781081 335.49578704
 335.22376328 334.95173951 334.67971575 334.40769198 334.13566822
 333.86364445 333.59162068 333.31959692 333.04757315 332.77554939
 332.50352562 332.23150186 357.60819558 355.03902669 352.46985781
 349.90068892 347.33152004 344.76235115 342.19318227 339.62401338
 337.0548445  334.48567561 331.91650673 329.34733784 326.77816896
 324.20900007 321.63983119 319.0706623  316.50149342 313.93232453
 311.36315565 308.79398676 306.22481788 303.65564899 301.08648011
 298.51731122 295.94814234 293.37897345 290.80980457 288.24063568
 285.6714668  283.10229791 280.53312903 277.96396015 275.39479126
 272.82562238 270.25645349 267.68728461 265.11811572 262.54894684
 259.97977795 257.41060907 254.84144018 252.2722713  249.70310241
 247.13393353 244.56476464 241.99559576 239.42642687 236.85725799
 234.2880891  231.71892022 229.14975133 226.58058245 198.36269607
 198.09067231 197.81864854 197.54662478 197.27460101 197.00257724
 196.73055348 196.45852971 196.18650595 195.91448218 195.64245842
 195.37043465 195.09841088 194.82638712 194.55436335 194.28233959
 194.01031582 193.73829206 193.46626829 193.19424452 192.92222076
 192.65019699 192.37817323 192.10614946 191.8341257  191.56210193
 191.29007816 191.0180544  190.74603063 190.47400687 190.2019831
 189.92995934 189.65793557 189.3859118  217.36433172 219.93350061
 222.50266949 225.07183838 227.64100726 230.21017615 232.77934503
 235.34851392 237.9176828  240.48685169 243.05602057 245.62518946
 248.19435834 250.76352723 253.33269611 255.901865   258.47103388
 261.04020277 289.25808914 289.53011291 289.80213667 290.07416044
 290.34618421 290.61820797 290.89023174 291.1622555  291.43427927
 291.70630303 291.9783268  292.25035057 292.52237433 292.7943981
 293.06642186 293.33844563 293.61046939 293.88249316 294.15451693
 294.42654069 294.69856446 294.97058822 295.24261199 295.51463575
 295.78665952 296.05868329 296.33070705 296.60273082 296.87475458
 297.14677835 297.41880211 297.69082588 297.96284965 298.23487341
 298.50689718 298.77892094 299.05094471 299.32296847 299.59499224
 299.86701601 300.13903977 300.41106354 300.6830873  300.95511107
 301.22713483 301.4991586  301.77118237 302.04320613 302.3152299
 302.58725366 302.85927743 303.13130119 277.75460747 280.32377636
 282.89294524 285.46211413 288.03128301 290.6004519  293.16962078
 295.73878967 298.30795855 300.87712744 303.44629632 306.01546521
 308.58463409 311.15380298 313.72297186 316.29214075 318.86130963
 321.43047852 323.9996474  326.56881629 329.13798517 331.70715406
 334.27632294 336.84549183 339.41466071 341.9838296  344.55299848
 347.12216737 349.69133625 352.26050514 354.82967402 357.39884291
 359.96801179 362.53718067 365.10634956 367.67551844 370.24468733
 372.81385621 375.3830251  377.95219398 380.52136287 383.09053175
 385.65970064 388.22886952 362.54759472 362.27557096 362.00354719
 361.73152343 361.45949966 361.18747589 360.91545213 360.64342836
 386.02012209 383.4509532  380.88178432 378.31261543 375.74344655
 373.17427766 370.60510878 368.03593989 365.46677101 362.89760212
 360.32843324 357.75926435 355.19009547 352.62092658 350.0517577
 347.48258881 344.91341993 342.34425104 339.77508216 337.20591327
 334.63674439 332.0675755  329.49840662 326.92923773 324.36006885
 321.79089996 319.22173108 316.65256219 314.08339331 311.51422442
 308.94505554 306.37588665 303.80671777 301.23754888 298.66838
 296.09921111 293.53004223 290.96087334 288.39170446 285.82253557
 283.25336669 280.6841978  278.11502892 275.54586003 272.97669115
 270.40752226 267.83835338 265.26918449 262.70001561 260.13084672
 257.56167784 254.99250895 226.77462258 226.50259881 226.23057505
 225.95855128 225.68652752 225.41450375]

In [75]:
model.score(X,Y)

0.9979082335934772

In [64]:
import numpy as np